Q1. An e-commerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity. products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }

• Increase the stock of the "Shirt" product (add 50 more units) using increment/decrement operators

• Add a new product (e.g., "Smartphone")

Expected Output:

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}}
{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}}

In [1]:
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 
             102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 
             103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }
products[102]['stock']+=50
products.update({104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}})
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30},
 104: {'name': 'Smartphone',
  'category': 'Electronics',
  'price': 800,
  'stock': 100}}

Q2. You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set. Final output should be in list

shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

Expected Output:
['apple', 'grape', 'banana', 'orange']

In [2]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
shopping_list = set(shopping_list)
shopping_list = list(shopping_list)
shopping_list

['banana', 'apple', 'grape', 'orange']

Q3. You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in "Course B" (difference). Find students who are only in one of the two courses (symmetric difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}

Using set methods

• Find students who are in Course A but not in Course B (difference)

• Find students who are only in one of the two courses (symmetric difference)

Expected Output:

Students in Course A but not in Course B: {'Bob', 'John'}

Students only in one of the two courses: {'Eve', 'John', 'Bob', 'Charlie'}

In [3]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}
print(course_a.difference(course_b))
course_b.symmetric_difference(course_a)

{'John', 'Bob'}

{'Bob', 'Charlie', 'Eve', 'John'}

Q4. Write a Python program to store and display the details of a book.

The program should ask the user to input the following information:

Title of the book

Author’s name

Year of publication

Price of the booK

Store the entered details in a tuple.

Finally, display the book details in a proper format as shown below:

Expected Output:

Title: Harry Potter

Author: JK Rowlings

Year of Publication: 2000

Price: $180.0

In [4]:
details = (Title := ('Harry Potter'),
Author := ('JK Rowlings'),
Year_of_Publication := (2000),
Price :=('$180.0'))
type(details)

tuple

In [5]:
Title = input('Title:')
Author = input('Author:')
Year_of_Publication = input('Year of Publication:')
Price = input('Price:')

Title: Harry Potter
Author: JK Rowlings
Year of Publication: 2000
Price: $180.0

Q5. Write a program to check if a user’s chosen subject is available in the list of offered subjects.

Instructions:

Given a list of subjects, ask the user to input a subject.

Display whether the subject is available or not.

Expected Output:

Enter the subject you are interested in:  art

art is available.

In [6]:
sub_list = input('enter a given subject urdu/science/arts/history')
print(sub_list)
if sub_list == 'urdu':
    print('urdu is available')
elif sub_list == 'science':
    print('science is available')
elif sub_list == 'arts':
    print('arts is available')
elif sub_list == 'history':
    print('history is available')
else:
    print('enter a given subject')

enter a given subject urdu/science/arts/history arts

arts
arts is available

Q6. Write a Python program that asks the user to enter a number.

If the number is greater than 0, print "Positive".

If the number is less than 0, print "Negative".

If the number is exactly 0, print "Zero".

Expected Output:

Enter a number:  2

The number is Positive

---

Enter a number:  0

The number is Zero

---

Enter a number:  -1

The number is Negative

In [7]:
number = int(input('enter a number:'))
if number > 0:
    print('The number is Positive')
elif number == 0:
    print('The number is Zero')
elif number < 0:
    print('The number is Negative')
else:
    print('system error')

enter a number: 2

The number is Positive

In [8]:
number = int(input('enter a number:'))
if number > 0:
    print('The number is Positive')
elif number == 0:
    print('The number is Zero')
elif number < 0:
    print('The number is Negative')
else:
    print('system error')

enter a number: 0

The number is Zero

In [9]:
number = int(input('enter a number:'))
if number > 0:
    print('The number is Positive')
elif number == 0:
    print('The number is Zero')
elif number < 0:
    print('The number is Negative')
else:
    print('system error')

enter a number: -1

The number is Negative

Q7. Write a Python program that simulates a simple login system.

The correct username is 'admin' and the correct password is 'admin@123'

The program should take username and password as input from the user.

It should check the input and display messages according to the following conditions:

- If both username and password are correct → print "Login Successful".

- If username is wrong but password is correct → print "Invalid Username".

- If username is correct but password is wrong → print "Invalid Password".

- If both username and password are wrong → print "Invalid Username and Password".

In [10]:
username = input('username: ')
password = input('password: ')
if username == 'admin' and password == 'admin@123':
    print('login Successful')
elif username != 'admin' and password == 'admin@123':
    print('Invalid Username')
elif username == 'admin' and password != 'admin@123':
    print('Invalid Password')
elif username != 'admin' and password != 'admin@123':
    print('Invalid Username and Password')

username:  admin
password:  admin@123

login Successful

In [11]:
username = input('username: ')
password = input('password: ')
if username == 'admin' and password == 'admin@123':
    print('login Successful')
elif username != 'admin' and password == 'admin@123':
    print('Invalid Username')
elif username == 'admin' and password != 'admin@123':
    print('Invalid Password')
elif username != 'admin' and password != 'admin@123':
    print('Invalid Username and Password')

username:  admen
password:  admin@123

Invalid Username

In [12]:
username = input('username: ')
password = input('password: ')
if username == 'admin' and password == 'admin@123':
    print('login Successful')
elif username != 'admin' and password == 'admin@123':
    print('Invalid Username')
elif username == 'admin' and password != 'admin@123':
    print('Invalid Password')
elif username != 'admin' and password != 'admin@123':
    print('Invalid Username and Password')

username:  admin
password:  abc

Invalid Password

In [13]:
username = input('username: ')
password = input('password: ')
if username == 'admin' and password == 'admin@123':
    print('login Successful')
elif username != 'admin' and password == 'admin@123':
    print('Invalid Username')
elif username == 'admin' and password != 'admin@123':
    print('Invalid Password')
elif username != 'admin' and password != 'admin@123':
    print('Invalid Username and Password')

username:  hjk
password:  xyz

Invalid Username and Password

Q8.

student_details = {
    "Ali": {"age": 20, "grade": "A", "city": "Karachi"},
    "Sara": {"age": 21, "grade": "B", "city": "Lahore"},
    "Omar": {"age": 19, "grade": "A", "city": "Islamabad"},
    "Hina": {"age": 22, "grade": "C", "city": "Faisalabad"}
}

- Add a new student using method:
  "Zara": {"age": 20, "grade": "B", "city": "Multan"}

- Remove a student "Omer" using method

Expected Output:

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'}, 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'}, 'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'}, 'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

In [14]:
student_details = { "Ali": {"age": 20, "grade": "A", "city": "Karachi"},
                   "Sara": {"age": 21, "grade": "B", "city": "Lahore"},
                   "Omar": {"age": 19, "grade": "A", "city": "Islamabad"},
                   "Hina": {"age": 22, "grade": "C", "city": "Faisalabad"} }
student_details.pop('Omar')
student_details.update({"Zara": {"age": 20, "grade": "B", "city": "Multan"}})
student_details

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'},
 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'},
 'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'},
 'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

Q9. Write program to check a person’s eligibility for a loan based on age, credit score, and income. This time, the eligibility criteria will be:

The person must be 18 years or older. The person must have a credit score of 650 or higher. The person must have an annual income of at least 30000 dollars If the person has a credit score of 700 or higher, they may still be eligible with an income of 25000 dollars or more.

Expected Output:

Enter your age:  22

Enter your credit score:  888

Enter your annual income: $ 800000

You are eligible for the loan!

---

Enter your age:  15

Enter your credit score:  800

Enter your annual income: $ 900000

You are not eligible for the loan due to age.

---

Enter your age:  35

Enter your credit score:  99

Enter your annual income: $ 900000

You are not eligible for the loan due to low credit score.

In [15]:
age = int(input("Enter your age: "))
credit_score = int(input("Enter your credit score: "))
income = (input("Enter your annual income in dollars: "))
if age >= 18:
    if (credit_score >= 650 and income >= "$30000") or (credit_score >= 700 and income >= "$25000"):
        print("You are Eligible for loan ")
    else:
        print("You are not eligible for loan due to low credit score")
else:
    print("You are not eligible for loan due to age")

Enter your age:  22
Enter your credit score:  888
Enter your annual income in dollars:  $ 800000

You are not eligible for loan due to low credit score

In [16]:
age = int(input("Enter your age: "))
credit_score = int(input("Enter your credit score: "))
income = (input("Enter your annual income in dollars: "))
if age >= 18:
    if (credit_score >= 650 and income >= "$30000") or (credit_score >= 700 and income >= "$25000"):
        print("You are Eligible for loan ")
    else:
        print("You are not eligible for loan due to low credit score")
else:
    print("You are not eligible for loan due to age")

Enter your age:  15
Enter your credit score:  800
Enter your annual income in dollars:  $ 900000

You are not eligible for loan due to age

In [17]:
age = int(input("Enter your age: "))
credit_score = int(input("Enter your credit score: "))
income = (input("Enter your annual income in dollars: "))
if age >= 18:
    if (credit_score >= 650 and income >= "$30000") or (credit_score >= 700 and income >= "$25000"):
        print("You are Eligible for loan ")
    else:
        print("You are not eligible for loan due to low credit score")
else:
    print("You are not eligible for loan due to age")

Enter your age:  35
Enter your credit score:  99
Enter your annual income in dollars:  $ 900000

You are not eligible for loan due to low credit score

Q10. Write a Python program to check whether the entered letter is a vowel, a consonant, or invalid input.

The program should take a single character as input. If the character is a vowel (a, e, i, o, u in both upper and lower case), it will print "Vowel". If it is an alphabet but not a vowel, it will print "Consonant". Otherwise, it will print "Please enter valid alphabet".

Expected Output:

Enter a single letter:  a

a is a Vowel

---

Enter a single letter:  E

E is a Vowel

---

Enter a single letter:  z

z is a Consonant

---

Enter a single letter:  7

Please enter valid alphabet

In [18]:
ch = input("Enter a single character: ").lower()
if ch.isalpha(): 
    if ch in ['a', 'e', 'i', 'o', 'u']:
        print("Vowel")
    else:
        print("Consonant")
else:
    print("Please enter valid alphabet")

Enter a single character:  a

Vowel

In [19]:
ch = input("Enter a single character: ").lower()
if ch.isalpha(): 
    if ch in ['a', 'e', 'i', 'o', 'u']:
        print("Vowel")
    else:
        print("Consonant")
else:
    print("Please enter valid alphabet")

Enter a single character:  E

Vowel

In [20]:
ch = input("Enter a single character: ").lower()
if ch.isalpha(): 
    if ch in ['a', 'e', 'i', 'o', 'u']:
        print("Vowel")
    else:
        print("Consonant")
else:
    print("Please enter valid alphabet")

Enter a single character:  z

Consonant

In [21]:
ch = input("Enter a single character: ").lower()
if ch.isalpha(): 
    if ch in ['a', 'e', 'i', 'o', 'u']:
        print("Vowel")
    else:
        print("Consonant")
else:
    print("Please enter valid alphabet")

Enter a single character:  7

Please enter valid alphabet