Q1

In [20]:
a=15
b=4
#Sum
print(a+b)
#Difference
print(a-b)
#Product
print(a*b)
#Division
print(a/b)
#Floor Division
print(a//b)
#Modulus
print(a%b)

19
11
60
3.75
3
3

Q2

In [26]:
num1 = 10
num2 = 5.6
num3 = 4.43
num4 ='23'
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>

In [29]:
#Integer to Float 
num1 = float(num1)
print(num1)
#Float to Integer
num2 = int(num2)
print(num2)
#Float to String
num3 = str(num3)
print(num3)
#String to Integer
num4 = int(num4)
print(num4)

10.0
5
4.43
23

In [30]:
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'int'>

Q3

In [33]:
Favorite_food="BBQ"
Favorite_food

'BBQ'

Q4

In [35]:
apple = '22'
mangoes = 33

#First we change the type of apple into integer
apple = int(apple)
apple + mangoes

55

Q5

In [38]:
name = "Muhammad Usman Talha"
print(name)
age = 20
print(age)

Muhammad Usman Talha
20

In [39]:
age = age + 1
age

21

Q6

In [41]:
a = 2
b = 1
c = 6
d = 3


#Add a and b
print(a+b)
#Subtract c and a
print(c-a)
#Multiply d and b
print(d*b)
#Divide c and d (float division)
print(c/d)
#Modulus of c divided by d
print(c%d)
#Square of (d+a)
print((d+a)**2)

3
4
3
2.0
0
25

Q7

In [49]:
a = '2'
b = '11'
c = 6.3


#Convert a to integer and add c
a = int(a)
print(a+c)
#Convert b to float then multiply by c
b = float(b)
print(b*c)
#Convert c to integer then add to c
c = int(c)
print(c+c)

8.3
69.3
12

Q8

In [51]:
#Age in the year 2020
Age = 20
print(Age)
#Add 5 more year into the age
Age = Age + 5
print(Age)

20
25

Q9

In [52]:
#Total books
Books = 12
print(Books)
#4 books given to friend
Books = 12 - 4
print(Books)

12
8

Q10

In [53]:
#no of cookies baked
Cookies = 5 
print(Cookies)
#total number of cookies after baked 3 time in a day is
Cookies = Cookies*3
print(Cookies)

5
15