In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Salaries.csv')
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

Drop rows where EmployeeName and JobTitle are 'Not provided'

In [3]:
df = df[~((df['EmployeeName'] == 'Not provided') & (df['JobTitle'] == 'Not provided'))]
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

Replace 'Not Provided' with 0 in BasePay OvertimePay	OtherPay	Benefits

In [4]:

cols_to_replace = ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits']
df[cols_to_replace] = df[cols_to_replace].replace('Not Provided', 0)
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

Change BasePay	OvertimePay	OtherPay	Benefits type to float

In [5]:
cols_to_float = ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits']
df[cols_to_float] = df[cols_to_float].apply(pd.to_numeric, errors='coerce').fillna(0)
print(df[cols_to_float].dtypes)

BasePay        float64
OvertimePay    float64
OtherPay       float64
Benefits       float64
dtype: object

Display all employees name and basepay columns who have a BasePay greater than 200,000.

In [6]:
df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce').fillna(0)
high_basepay = df[df['BasePay'] > 200000][['EmployeeName', 'BasePay']]
print(high_basepay)

              EmployeeName    BasePay
2           ALBERT PARDINI  212739.13
7            DAVID KUSHNER  256576.96
9       JOANNE HAYES-WHITE  285262.00
12       EDWARD HARRINGTON  294580.02
13             JOHN MARTIN  271329.03
...                    ...        ...
110953      Ronald P Flynn  201296.01
110954    Sheryl L Bregman  201296.00
110976       Susan T Obata  202445.22
110977       John O Funghi  201181.01
111107       Mayra T Vivas  205036.00

[509 rows x 2 columns]

Find all employees whose JobTitle contains the word “Manager” (case = False)

In [7]:
managers = df[df['JobTitle'].str.contains('Manager', case=False, na=False)]
managers

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,0.00,567595.43,567595.43,2011,NaN,San Francisco,NaN
83,84,EDWARD REISKIN,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,230827.12,0.0,0.00,0.00,230827.12,230827.12,2011,NaN,San Francisco,NaN
87,88,KEVIN BARRY,MANAGER VII,96814.36,0.0,133563.47,0.00,230377.83,230377.83,2011,NaN,San Francisco,NaN
95,96,MIVIC HIROSE,MANAGER VIII,215180.76,0.0,12000.00,0.00,227180.76,227180.76,2011,NaN,San Francisco,NaN
162,163,JULIE LABONTE,MANAGER VIII,207501.20,0.0,2903.37,0.00,210404.57,210404.57,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
147216,147217,Steven D Koneffklatt,Manager III,0.00,0.0,1890.72,342.03,1890.72,2232.75,2014,NaN,San Francisco,PT
147502,147503,Alice B Villagomez,Manager IV,1660.00,0.0,0.00,16.60,1660.00,1676.60,2014,NaN,San Francisco,PT
147805,147806,Stephen C Laplante,Manager II,0.00,0.0,982.62,177.76,982.62,1160.38,2014,NaN,San Francisco,PT
148150,148151,Shirley M Parker,Real Property Manager,0.00,0.0,647.76,0.00,647.76,647.76,2014,NaN,San Francisco,PT
148475,148476,James P Horan,Manager IV,175.75,0.0,0.00,1.41,175.75,177.16,2014,NaN,San Francisco,PT

Retrieve only the columns: EmployeeName, JobTitle, and TotalPay.

In [8]:

df_selected = df[['EmployeeName', 'JobTitle', 'TotalPay']]
df_selected

,EmployeeName,JobTitle,TotalPay
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19
...,...,...,...
148645,Carolyn A Wilson,Human Services Technician,0.00
148647,Joann Anderson,Communications Dispatcher 2,0.00
148648,Leon Walker,Custodian,0.00
148649,Roy I Tillery,Custodian,0.00
148653,Joe Lopez,"Counselor, Log Cabin Ranch",-618.13

Find count of employees who have zero OvertimePay.

In [9]:
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'], errors='coerce').fillna(0)
zero_overtime_count = (df['OvertimePay'] == 0).sum()
zero_overtime_count

np.int64(77321)

Calculate the TotalPay for each JobTitle where totalpay > 300000

In [10]:
totalpay_by_job = df.groupby('JobTitle')['TotalPay'].sum()
high_totalpay_jobs = totalpay_by_job[totalpay_by_job > 300000]
high_totalpay_jobs

JobTitle
ACCOUNT CLERK                     3654960.14
ACCOUNTANT INTERN                 1393523.66
ADMINISTRATIVE ANALYST            5947802.68
ADMINISTRATIVE ENGINEER           1279614.30
AFFIRMATIVE ACTION SPECIALIST      409283.90
                                     ...
Wire Rope Cable Maint Sprv         609101.16
Worker's Comp Supervisor 1         985450.16
Worker's Compensation Adjuster    5420445.97
X-RAY LABORATORY AIDE             1370352.89
X-Ray Laboratory Aide             5082394.27
Name: TotalPay, Length: 1572, dtype: float64

Find the top 5 JobTitles with the highest average TotalPayBenefits show in descending order

In [11]:
avg_totalpay_by_job = df.groupby('JobTitle')['TotalPayBenefits'].mean()
top5_jobs = avg_totalpay_by_job.sort_values(ascending=False).head(5)
top5_jobs

JobTitle
Chief Investment Officer                          436224.360000
Chief of Police                                   411732.266667
Chief, Fire Department                            408865.326667
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY    399211.275000
Gen Mgr, Public Trnsp Dept                        380696.440000
Name: TotalPayBenefits, dtype: float64

Replace all missing Benefits values with 0

In [12]:

df['Benefits'] = df['Benefits'].fillna(0)
df['Benefits'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Benefits, dtype: float64

Identify the top employee name by TotalPay in each Year. Show year, employeename and totalpay dataframe

In [13]:

top_employee_idx = df.groupby('Year')['TotalPay'].idxmax()
top_employees = df.loc[top_employee_idx, ['Year', 'EmployeeName', 'TotalPay']]
top_employees = top_employees.reset_index(drop=True)
top_employees

   Year    EmployeeName   TotalPay
0  2011  NATHANIEL FORD  567595.43
1  2012  Gary Altenberg  362844.66
2  2013     Samson  Lai  347102.32
3  2014     David Shinn  471952.64

Find the number of employees per JobTitle.

In [20]:

employees_per_job = df['JobTitle'].value_counts()
employees_per_job

JobTitle
Transit Operator                   7036
Special Nurse                      4389
Registered Nurse                   3736
Public Svc Aide-Public Works       2518
Police Officer 3                   2421
                                   ...
TREE TOPPER SUPERVISOR II             1
TRAINING TECHNICIAN                   1
COURT AD RESOLUTION COORDINATOR       1
ROOFER SUPERVISOR I                   1
POWER PLANT SUPERVISOR I              1
Name: count, Length: 2158, dtype: int64